@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');


$primary: #f66f62;
$secandary: #1D267D;
$black: #4f444c;
$white: #fff;
$grey: #838282;
$radius: 8px;
$height: 44px;
$radius: 10px;


body {
  font-family: 'Montserrat', sans-serif;
  color: $black;
  background-color: #f2f4fd;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// button
.btn {
  font-size: 16px;

  &-primary {
    background-color: $primary;
    border-color: $primary !important;
    padding: 6px 10px;

    &:hover {
      background-color: $primary;
      opacity: 0.9;
    }
  }
  &-link{
    color: $primary;
    text-decoration: none;
    padding: 0;
    &:hover, &:focus{
      color: $primary;
      text-decoration: underline;
    }
  }
}

/* navbar */
.navbar {
  background-color: $white;
  position: sticky;
  top: 0;
  z-index: 9;

  .navbar-nav {
    li {
      a {
        font-size: 14px;
      }
    }

    >li {
      >a {

        color: rgba($color: #000000, $alpha: 0.7);
        font-weight: 500;
        padding: 6px 15px !important;

        i {
          font-size: 10px;
        }

        &:hover,
        &:focus,
        &:active:focus,
        &:active {
          color: $primary;
          opacity: 1;
        }

        &.active,
        &.show {
          color: $primary;
          opacity: 1;
        }
      }

      .dropdown-menu {
        top: calc(100% + 8px);
        padding: 0;
        border-color: transparent;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        overflow: hidden;

        li {
          a {
            color: $black;
            padding: 8px 10px;
            transition: border 0.3s ease-in-out;
            font-weight: 500;

          }
        }
      }
    }
  }
}



// banner slider
.bannerSlider {
  margin: 30px 0;

  .swiper {
    width: 100%;
    height: 100%;

    .swiper-slide {
      background-color: transparent;

      a {
        display: block;
        width: 100%;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $radius;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.2);
  z-index: 99;

  &::after {
    font-size: 20px;
    color: $primary;
  }
}

.sectionTitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

// top category
.topCategoriesSlider {
  .swiper {
    .swiper-slide {
      padding: 15px;

      img {
        height: 60px;
      }

      h2 {
        color: $black;
        font-size: 18px;
        margin-top: 20px;
        font-weight: 500;
      }
    }
  }
}

// today top deals
.todayTopDeals {
  margin: 30px 0;

  .todayDeal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      flex: 1 1 19%;
      background-color: $white;
      padding: 15px 10px;
      border-radius: $radius;
      position: relative;
      text-align: center;

      .offer {
        background-color: #da0325;
        padding: 4px 6px;
        font-size: 11px;
        border-radius: 4px;
        color: $white;
        font-weight: 500;
        display: inline-block;
        position: absolute;
        top: 5px;
        left: 5px;
      }

      img {
        height: 50px;
        object-fit: contain;
        margin: 20px auto;
        display: block;
        // aspect-ratio: 1/1;
      }

      button {
        font-size: 12px;
      }
    }
  }
}

.allTypeDeals {
  margin: 40px 0;

  .swiper {
    .swiper-slide {
      padding: 15px;

      >div {
        width: 100%;
      }

      .platform {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 5px 8px;
        font-size: 12px;
        background-color: $black;
        color: $white;
        border-radius: 4px;
      }

      img {
        height: 160px;
        display: block;
        margin: 20px auto;
      }

      h2 {
        height: 50px;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        display: -webkit-box;
        overflow: hidden;
      }

      .price {
        .retularPrice {
          font-size: 16px;
          margin-right: 5px;
          vertical-align: middle;
          color: #878787;
          text-decoration: line-through;

          i {
            font-size: 12px;
          }
        }

        .salePrice {
          font-size: 18px;
          font-weight: 500;

          i {
            font-size: 14px;
          }
        }
      }

      button {
        width: calc(100% - 20%);
        margin: 20px 0 10px;
      }
    }
  }
}

// media queries
@media screen and (min-width: 992px) {
  // .navbar {
  //   .navbar-nav {
  //     .nav-item {
  //       &.dropdown {
  //         a {
  //           i {
  //             transition: 0.2s ease-in-out;
  //           }
  //         }

  //         .dropdown-menu {
  //           display: block;
  //           top: 80px;
  //           opacity: 0;
  //           visibility: hidden;
  //           transition: 0.2s ease-in-out;
  //         }

  //         &:hover {
  //           a {
  //             i {
  //               transform: rotate(-180deg) !important;
  //             }
  //           }

  //           .dropdown-menu {
  //             top: 48px;
  //             opacity: 1;
  //             visibility: visible;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}

.webInfo {
  background-color: #e1e8fb;
  padding: 50px 10px;

  .wpb_wrapper {
    display: flex;
    align-items: center;
    background-color: $white;
    padding: 20px;
    border-radius: 6px;

    img {
      margin-right: 10px;
      height: 80px;
    }

    h3 {
      font-size: 18px;
      font-weight: 500;
    }

    p {
      color: $grey;
    }
  }
}

// blog
.blogSection{
  margin: 50px 0;
}
.blogItem{
  position: relative;
  border: none;
  box-shadow: 0 5px 2px 0 rgba($color: #000000, $alpha: 0.1);
  .date{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #333;
    color: $white;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
  }
  .card-title{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    a{
      color: $black;
    }
  }
  .card-text{
    font-size: 14px;
    color: $grey;
    margin-bottom: 10px;
  }

}

// footer
footer {
  padding: 20px;
  text-align: center;
  background-color: #333;
  .companyLogo{
    margin: 30px 0;
  }

  .socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      a {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        margin-inline: 10px;
        color: $white;
        border: 1px solid rgba(255, 255, 255, 0.2);

        i {
          font-size: 14px;
        }

        &.facebook {
          &:hover {
            background-color: #3b5998;
          }
        }

        &.twitter {
          &:hover {
            background-color: #55acee;
          }
        }

        &.linkedin {
          &:hover {
            background-color: #007bb5;
          }
        }

        &.pinterest {
          &:hover {
            background-color: #cb2027;
          }
        }
      }
    }
  }

  .fotterMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 10px;

    li {
      a {
        color: $white;
        opacity: 0.7;
        padding-inline: 10px;
        font-size: 14px;
        border-right: 1px solid $white;

        &:hover {
          color: $white;
          opacity: 1;
        }
      }

      &:last-child {
        a {
          border: none;

        }
      }
    }
  }
}

// exclusive
.exclusive_wrapper {
  margin: 50px 0;
}

.exclusive_item {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  background-color: $white;
  border-radius: $radius;
  overflow: hidden;
  height: 100%;

  .exclusive_image {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    img {
      width: auto;
      max-width: 100%;
      object-fit: contain;
    }

  }

  .exclusive_content {
    padding: 15px;
    flex: 1;

    .platform {
      font-size: 12px;
      color: $grey;
    }

    h3 {
      font-size: 14px;
      line-height: 1.5;
      color: $black;
      font-weight: 500;
      margin: 4px 0 15px;
    }

    button {
      width: calc(100% - 10px);
      display: block;
      margin: auto;
    }
  }
}

/*# sourceMappingURL=app.css.map */