@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');


$primary: #f66f62;
$secandary: #1D267D;
$black: #000;
$white: #fff;
$grey: #838282;
$radius: 8px;
$height: 44px;
$radius: 10px;


body {
  font-family: 'Montserrat', sans-serif;
  color: $black;
  background-color: #f2f4fd;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// mixing
@mixin flexbox($display, $align, $justify, $wrap, ) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}


// button
.btn {
  font-size: 14px;
  font-weight: 500;

  &-primary {
    background-color: $primary;
    border-color: $primary !important;
    padding: 6px 10px;

    &:hover {
      background-color: $primary;
      opacity: 0.9;
    }
  }

  &-link {
    color: $primary;
    text-decoration: none;
    padding: 0;

    &:hover,
    &:focus {
      color: $primary;
      text-decoration: underline;
    }
  }
}

.couponButton {
  background-color: transparent;
  border: none;
  box-shadow: none;
  position: relative;
  max-width: 140px;
  height: 36px;
  width: 100%;
  overflow: hidden;
  font-size: 14px;

  .couponText,
  .couponCode {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    border-radius: 4px;
  }

  .couponCode {
    border: 1px dashed rgba($color: $grey, $alpha: 0.4);
    background-color: #f0f0f0;
    color: $black;
    justify-content: flex-end;
  }

  .couponText {
    background-color: $primary;
    z-index: 2;
    width: 90%;
  }

  &.showCouponCode {
    .couponText {
      display: none;
    }

    .couponCode {
      justify-content: center;
    }
  }
}

/* navbar */
.navbar {
  background-color: $white;
  position: sticky;
  top: 0;
  z-index: 9;

  .navbar-nav {
    li {
      a {
        font-size: 14px;
      }
    }

    >li {
      >a {

        color: rgba($color: #000000, $alpha: 0.7);
        font-weight: 500;
        padding: 6px 15px !important;

        i {
          font-size: 10px;
        }

        &:hover,
        &:focus,
        &:active:focus,
        &:active {
          color: $primary;
          opacity: 1;
        }

        &.active,
        &.show {
          color: $primary;
          opacity: 1;
        }
      }

      .dropdown-menu {
        top: calc(100% + 8px);
        padding: 0;
        border-color: transparent;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        overflow: hidden;

        li {
          a {
            color: $black;
            padding: 8px 10px;
            transition: border 0.3s ease-in-out;
            font-weight: 500;

          }
        }
      }
    }
  }
}



// banner slider
.bannerSlider {
  margin: 30px 0;

  .swiper {
    width: 100%;
    height: 100%;

    .swiper-slide {
      background-color: transparent;

      a {
        display: block;
        width: 100%;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $radius;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.2);
  z-index: 99;

  &::after {
    font-size: 20px;
    color: $primary;
  }
}

.sectionTitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

// top category
.topCategoriesSlider {
  .swiper {
    .swiper-slide {
      padding: 15px;

      img {
        height: 60px;
      }

      h2 {
        color: $black;
        font-size: 18px;
        margin-top: 20px;
        font-weight: 500;
      }
    }
  }
}

// today top deals
.todayTopDeals {
  margin: 30px 0;

  .todayDeal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      flex: 1 1 19%;
      background-color: $white;
      padding: 15px 10px;
      border-radius: $radius;
      position: relative;
      text-align: center;

      .offer {
        background-color: #da0325;
        padding: 4px 6px;
        font-size: 11px;
        border-radius: 4px;
        color: $white;
        font-weight: 500;
        display: inline-block;
        position: absolute;
        top: 5px;
        left: 5px;
      }

      img {
        height: 50px;
        object-fit: contain;
        margin: 20px auto;
        display: block;
        // aspect-ratio: 1/1;
      }

      button {
        font-size: 12px;
      }
    }
  }
}

.allTypeDeals {
  margin: 40px 0;

  .swiper {
    .swiper-slide {
      padding: 15px;

      >div {
        width: 100%;
      }

      .platform {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 5px 8px;
        font-size: 12px;
        background-color: $black;
        color: $white;
        border-radius: 4px;
      }

      img {
        height: 160px;
        display: block;
        margin: 20px auto;
      }

      h2 {
        height: 50px;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        display: -webkit-box;
        overflow: hidden;
      }

      .price {
        .retularPrice {
          font-size: 16px;
          margin-right: 5px;
          vertical-align: middle;
          color: #878787;
          text-decoration: line-through;

          i {
            font-size: 12px;
          }
        }

        .salePrice {
          font-size: 18px;
          font-weight: 500;

          i {
            font-size: 14px;
          }
        }
      }

      button {
        width: calc(100% - 20%);
        margin: 20px 0 10px;
      }
    }
  }
}


.webInfo {
  background-color: #e1e8fb;
  padding: 50px 10px;

  .wpb_wrapper {
    display: flex;
    align-items: center;
    background-color: $white;
    padding: 20px;
    border-radius: 6px;

    img {
      margin-right: 10px;
      height: 80px;
    }

    h3 {
      font-size: 18px;
      font-weight: 500;
    }

    p {
      color: $grey;
    }
  }
}

// blog
.blogSection {
  margin: 50px 0;
}

.blogItem {
  position: relative;
  border: none;
  box-shadow: 0 5px 2px 0 rgba($color: #000000, $alpha: 0.1);
  margin-bottom: 30px;

  .date {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #333;
    color: $white;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
  }

  .card-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;

    a {
      color: $black;
    }

    a {
      &:hover {
        color: $primary;
      }
    }
  }

  .card-text {
    font-size: 14px;
    color: $grey;
    margin-bottom: 10px;
  }

}

.infoSection {
  margin-bottom: 50px;

  h1 {
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
  }

  .infoContent {
    h3 {
      font-size: 12px;
      font-weight: 600;
    }

    p {
      font-size: 12px;
    }
  }
}


// .mainWrapper {
//   height: calc(100vh - 230px);
// }

// inner pages
.innerTitleSection {
  background-color: #272e3a;
  padding: 30px 0;
  .container{
    display: flex;
    align-items: center;
  }
  img{
    height: 32px;
    margin-right: 15px;
  }
}

.pageTitle {
margin-left: 20px;
  h1 {
    color: $white;
    font-size: 24px;
    font-weight: 600;
  }

  p {
    color: $grey;
    margin-bottom: 5px !important;
  }
}


.couponSection {
  margin: 50px 0;
}

.offer-card {
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
  overflow: hidden;
  margin-bottom: 30px;
}

.offer-card-main {
  padding: 15px;
  @include flexbox(flex, flex-end, space-between, nowrap);

  .offer-details {
    flex: 1;
    margin-right: 15px;

    .Verified {
      margin-bottom: 10px;
      font-size: 12px;
      color: $black;
      font-weight: 400;

      i {
        color: #1fa552;
        font-size: 14px;
      }
    }

    h1 {
      font-size: 16px;
      color: $black;
      line-height: 1.5;
      font-weight: 600;
      word-break: break-all;
    }

    p {
      margin-bottom: 0;
      font-size: 13px;
    }
  }

  button {
    white-space: nowrap;
    &.couponButton{
      position: relative;
      bottom: 7px;
    }
  }
}

.offer-card-bottom {
  button {
    font-size: 13px;
    padding: 0px !important;
  }

  .bottomContent {

    margin-top: 6px;

    p {
      margin-bottom: 6px;
    }

    ul {
      margin-left: 18px;

      li {
        list-style-type: disc;
        font-size: 12px;
        padding: 2px 0;
        font-weight: 500;
      }
    }
  }
}

// footer
footer {
  margin-top: auto;
  padding: 20px;
  text-align: center;
  background-color: #333;

  .companyLogo {
    margin: 30px 0;
  }

  .socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      a {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        margin-inline: 10px;
        color: $white;
        border: 1px solid rgba(255, 255, 255, 0.2);

        i {
          font-size: 14px;
        }

        &.facebook {
          &:hover {
            background-color: #3b5998;
          }
        }

        &.twitter {
          &:hover {
            background-color: #55acee;
          }
        }

        &.linkedin {
          &:hover {
            background-color: #007bb5;
          }
        }

        &.pinterest {
          &:hover {
            background-color: #cb2027;
          }
        }
      }
    }
  }

  .fotterMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 10px;

    li {
      a {
        color: $white;
        opacity: 0.7;
        padding-inline: 10px;
        font-size: 14px;
        border-right: 1px solid $white;

        &:hover {
          color: $white;
          opacity: 1;
        }
      }

      &:last-child {
        a {
          border: none;

        }
      }
    }
  }
}

// exclusive
.exclusive_wrapper {
  margin: 50px 0;
}

.exclusive_item {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  background-color: $white;
  border-radius: $radius;
  overflow: hidden;
  height: 100%;

  .exclusive_image {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    img {
      width: auto;
      max-width: 100%;
      object-fit: contain;
    }

  }

  .exclusive_content {
    padding: 15px;
    flex: 1;

    .platform {
      font-size: 12px;
      color: $grey;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
      color: $black;
      font-weight: 500;
      margin: 4px 0 15px;
    }

    button {
      max-width: 100%;
      width: 100%;
      display: block;
      margin: auto;
    }
  }
}

// aboutPage
.aboutPage {
  background-color: #dbdbdb;
  @include flexbox(flex, flex-start, flex-start, nowrap);
  padding: 30px 20px;

  div {
    flex: auto;
    text-align: left;
    padding-left: 15px;
  }

  img {
    height: 30px;
    // background-color: $black;
    background-blend-mode: color;
  }

  h1 {
    font-size: 18px;
    color: $black;
    font-weight: 500;
    margin-bottom: 5px;
  }

  p {
    color: $grey;
    font-size: 14px;
    margin-bottom: 0;
  }
}

.contactSection {
  margin: 50px 0;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
}

.btnSubmit {
  width: 150px;
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 16px;
}

.privacySection {
  margin: 50px 0;
}

.privacyWrap {
  h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  p {
    font-size: 14px;
  }
}

// modal
.modal {

  // position: relative;
  .btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
  }

  .modal-body {
    padding: 0px;

    .titleNew {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 10px;
    }


  }
}

.couponWrapper {
  padding: 40px 20px;
  text-align: center;

  p {
    color: $grey;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;

    a {
      color: $primary;
    }
  }
}

.offerCode {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin: 30px auto;

  .couponInfo {
    border: 1px dashed $primary;
    padding: 0px 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 220px;
    position: relative;
    @include flexbox(flex, center, center, wrap);

    h1 {
      color: $primary;
      font-weight: 600;
      margin: 0;
      font-size: 18px;
    }

    .spinner {
      position: absolute;
      left: 0;
      right: 0;
      top: 2px;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 9;

      i {
        font-size: 24px;
        color: $primary;
      }
    }
  }

  button {
    border-radius: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 20px;
    margin-left: -1px;
  }
}

// redeem
.redeemPage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .redeemWrap {
    max-width: 600px;
    width: 100%;
    background-color: $white;
    border-radius: 10px;
    padding: 40px 20px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
    text-align: center;

    p {
      color: $grey;
      font-size: 14px;
      margin-bottom: 5px;
    }

    .dealActivated {
      border: 1px dashed $primary;
      max-width: 350px;
      font-size: 14px;
      padding: 10px 5px;
      border-radius: 4px;
      margin: 20px auto;
      color: $grey;

      span {
        font-weight: 500;
        color: $primary;
      }
    }

    h4 {
      color: $primary;
      font-size: 13px;
      font-weight: 400;
      margin-bottom: 15px;
    }

    .redirectingProcess {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      img {
        height: 30px;
      }
    }
  }
}

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  margin-inline: 40px;
  border-radius: 5px;
  background-color: $primary;
  color: $primary;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $primary;
  color: $primary;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $primary;
  color: $primary;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: $primary;
  }

  50%,
  100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}


// media queries
@media screen and (max-width:991.98px) {

  .offer-card-main{
    flex-direction: column;
    justify-content: center;
    .offer-details{
      margin-right: 0;
      text-align: center;
    }
    button{
      margin: 20px auto 0;
    }
  }
  .navbar {
    .container {
      flex-direction: row-reverse;
    }
  }

  .todayTopDeals {
    .todayDeal {
      li {
        flex: 1 1 47%;
      }
    }
  }

  .webInfo {
    .wpb_wrapper {
      flex-wrap: wrap;
      text-align: center;

      img {
        margin: auto;
        margin-bottom: 15px;

      }

      h3 {
        font-weight: 700;
      }

      p {
        font-size: 12px;
      }
    }
  }
  .innerTitleSection{
    .container{
      flex-direction: column;
      text-align: center;
      img{
        margin: 0 0 15px !important;
      }
      .pageTitle{
        margin-left: 0;
      }
    }
  }
}

#popup {
  max-width: 350px;
  max-height: 350px;
  height: 100%;
  width: 100%;
  background-color: $white;
  box-shadow: none;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.1);
  word-wrap: break-word;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  img {
    width: auto;
    height: 90px;
    margin-bottom: 20px;
  }

  p {
    color: $grey;
    font-size: 14px;
    line-height: 1.8;

    a {
      color: $primary;
    }
  }

  button {
    color: $primary;
    background: transparent;
    border: none;
    font-weight: 600;
  }
}

body {
  &.showingModal {
    overflow: hidden;
    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.4);
      z-index: 99;
    }
  }
}




/*# sourceMappingURL=app.css.map */